* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: blue;
    --secondary-color: pink;
}

/* GENERAL */


/* HEADER */

header {
    background-color: lightblue;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header section {
    background-color: orange;
    width: 70vw;
    display: flex;
    justify-content: space-between;
    padding: 8px;
}


.header-link {
    display: flex;
    justify-content: space-evenly;
    width: 30%;
}