* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: blue;
    --secondary-color: pink;
}

/* GENERAL */


/* HEADER */

.header-section {
    background-color: lightblue;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-section .header-div {
    background-color: orange;
    width: 80vw;
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

/* HERO */

.hero {
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
}

.hero>div {
    background-color: pink;
    height: 200px;
    width: 70vw;
}

/* MAIN */